.escondercampo{
    display: none;
}

section .tabfunc_funcionario_html{
    display: none;
    padding: 5px 5px;
}
section .tableHtm td{
    padding: 6px 6px;
    text-align: center;
}

section .tabfunc_funcionario_html th{
    padding: 6px 6px;
    text-align: center;
}
section .tabfunc_funcionario_botstrap{
    display: block;

}

section .table_paciente_html{
    display: none;
    padding: 5px 5px;
}
section .tableHtm td{
    padding: 6px 6px;
    text-align: center;
}

section .table_paciente_html th{
    padding: 6px 6px;
    text-align: center;
}
section .table_paciente_botstrap{
    display: block;

}

section .table_endajax_html{
    display: none;
    padding: 5px 5px;
}
section .table_endajax_html td{
    padding: 6px 6px;
    text-align: center;
}

section .table_endajax_html th{
    padding: 6px 6px;
    text-align: center;
}
section .table_endajax_bootstrap{
    display: block;

}
#menucasosejamedico{

}