
table.center {
    margin: 0 auto;
}

th, td {
    width: 400px;
    height: 300px;
    padding: 10px;
}

.imgGalery {
    width: 230px;
    height: 200px;
    border-radius: 20px;
    display: none;
}
