ul li a.buttonActive {
    font-weight: bolder;
    color: blue;
    padding: 6%;
}


ul li a {
    padding: 0 10px;
    text-decoration: none;

}



main section h1 {
    margin-bottom: 6px;
    color: blue;
}

.tabs section {
    display: none;
}

section.tabActive {
    display: block;
}

.mymar {
    position: relative;
    margin-left: 6px;
}
.semborda{
    border: none;
    border-bottom: 5px solid dodgerblue;
}
.form-select .semborda{
border:  5px solid dodgerblue;
}


